.fundoLogin {
    background-image: url("https://ik.imagekit.io/9lt9gebdr/o-recrutador-aperta-mao-da-candidata.jpg?updatedAt=1749048990358");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}