.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field {
  padding: 0.5rem;
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid #81868C;
  background-color: #FFFFFF;
  color: #00070D;
  transition: all 0.2s ease;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #11C5D9;
}

.submit-button {
  background-color: #11C5D9;
  color: white;
  padding: 0.5rem 0;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0eaac0;
}
